
body {font-family: 'roboto', sans-serif;
font-size: 16px
color: #838994;
letter-spacing: 0.03em;
-webkit-font-smoothing: antialiased;
}

/*Navigation Section */
.top-navigation {
	background-color: #fff
	width: 100%;
	border-bottom: 1px solid #DDD;
	position: fixed;
}
.top-navigation > .content {
	width: 960px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;

}
.top-navigation .links{
	float: right;
	color: #838994;
	margin-top: 1.7rem;
	margin-bottom: -.5rem;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .logo{
	height: 4.375rem;
}
li{
	display: inline;	
	padding: 8px;
	cursor: pointer;

}
li:hover {
	color: #4c5058;
	transition: 0.5s;
}