
body {font-family: roboto, sans-serif;
}
li{
	display: inline;	
	padding: 8px;
}
ul {list-style: none;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
box-sizing: border-box;
display: block;
}
/*Navigation Section */
.top-navigation {
	background-color: #fff
	width: 100%;
	border-bottom: 1px solid #DDD;

}
.top-navigation > .content {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .links{
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}