html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	letter-spacing: 0.03em;
}
.top-navigation .links{
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	font-family: 'roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li{
	display: inline-block;	
	margin-left: 25px;}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	color: #333333;
	transition: 0.5s;
	cursor: pointer;
}
.top-navigation .logo{
	margin-top: 25px;
}

/* Introduction Section */
.introduction {
	background-image: url('http://i.imgur.com/YyRzVqP.jpg');
	background-position: center;
	background-size: cover;
}
.introduction h1, .introduction h3{
	font-family: 'roboto', sans-serif;
	letter-spacing: 0.03em;
	color: white;
	margin-top: 2em;
}
